%h1 Co to jest kooperatywa spożywcza?

%p
  …czyli – w jaki sposób to, co w pojedynkę byłoby uciążliwym przedsięwzięciem, w grupie staje się możliwe!
%p
  Kooperatywa spożywcza jest rodzajem nieformalnej spółdzielni, w której członkowie wspólnie kupują produkty spożywcze bezpośrednio od producentów, z pominięciem pośredników.
%p
  Korzyści wynikających z takiego działania jest wiele.
%p
  Po pierwsze, mamy możliwość zakupu produktów ekologicznych, prosto od rolnika. Jeśli tylko jest to możliwe, szukamy gospodarstw z certyfikatem ekologicznym. Tym sposobem uzyskujemy łatwiejszy dostęp do zdrowej, nieprzetworzonej żywności.
%p
  Czy w związku z tym w kooperatywie należy się spodziewać cen jak w eko-sklepach? Nic z tych rzeczy – a nawet przeciwnie, możemy wręcz oszczędzić na zakupach. A wszystko dzięki zakupom w ilościach hurtowych i braku jakiejkolwiek marży.
%p
  Tak więc, zamiast tracić czas męcząc się w przeludnionych supermarketach i  wydawać tam pieniądze na produkty niewiadomego pochodzenia i jakości – stawiamy na współpracę w grupie, wzajemną pomoc i podział obowiązków, który w ostatecznym rozrachunku wszystkim wychodzi na korzyść.
%p
  Ponadto, kooperatywa ma w swój profil wpisaną społeczną integrację, oddolne działanie grupy indywidualnych osób, które postanawiają ze sobą współpracować na zasadach niepisanej umowy. Jak zanotował Edward Abramowski, jeden z prekursorów kooperatyzmu z Polsce: „Kooperatywa spożywcza (…) jest szkołą społeczną, gdzie ludzie uczą się sami radzić nad swoimi sprawami, organizować je, działać zbiorowo i solidarnie, reformować warunki swego bytu własnym umysłem i własnymi siłami, gdzie poznają w praktyce złożony mechanizm ekonomiczny i społeczny dzisiejszego życia i sposoby zarządzania nim.”
%p
  W kooperatywie wymieniamy się też własnymi wyrobami – chlebem na zakwasie, pasztetem z soczewicy, z selera, humusem, dżemami, masłem orzechowym. Jesteśmy otwarci na wymianę innych produktów pomiędzy członkami i członkiniami, a każda inicjatywa zawsze jest mile widziana.